@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

body {
    font-family: 'Rubik Iso', cursive;
    background-color: rgb(161, 100, 223);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    margin: 0;
    overflow: hidden;
}